@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=M+PLUS+2:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*その他と主な共通部分は省略*/

.button-49 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .9em 2em;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #65BBE9;
  background-color: #65BBE9;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.button-49::after {
  transform: rotate(45deg);
  width: 5px;
  height: 5px;
  margin-left: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
}

.button-49-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .9em 2em;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #65BBE9;
  background-color: #65BBE9;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.button-49-reverse::before {
  transform: rotate(-135deg); /* 矢印を逆方向に */
  width: 5px;
  height: 5px;
  margin-right: 10px; /* 矢印と文字の間にスペースを追加 */
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
}
/*アルバム*/
.memo {
	position: relative;
	padding: 1rem 2rem;
	border-radius: 10px;
	background: #27acd9;
	color: #fff;
}
.memo:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	bottom: -10px;
	left: 1.5em;
	border-width: 10px 10px 0 10px;
	border-style: solid;
	border-color: #27acd9 transparent transparent transparent;
}

.btn_09 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	background: linear-gradient(to top, rgb(5, 130, 174), #27acd9);
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0.5s;
}
a.btn_09:hover {
	color: #fff;
	opacity: 0.5;
}

.gothic-a1-thin {
  font-family: "Gothic A1", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.gothic-a1-extralight {
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.gothic-a1-light {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gothic-a1-medium {
  font-family: "Gothic A1", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.gothic-a1-semibold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.gothic-a1-bold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gothic-a1-extrabold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.gothic-a1-black {
  font-family: "Gothic A1", sans-serif;
  font-weight: 900;
  font-style: normal;
}
